// Will be the background of the message
$primaryColor: #f6cbcb;
// Will be the color of the text and background of the button
$secondaryColor: #342525;

#outdated {
	font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	position:absolute;
	background-color: $primaryColor;
	color: $secondaryColor;
	display: none;
	overflow: hidden;
	left: 0;
	position: fixed;
	text-align: center;
	top: 0;
	width: 100%;
	z-index: 1500;
	padding: 0 24px 24px 0;

	&.fullscreen{
		height: 100%;
	}
	.vertical-center{
		display: table-cell;
		text-align: center;
		vertical-align: middle;	  
	}
	h6 {
		font-size: 25px;
		line-height: 25px;
		margin: 12px 0;
	}

	p {
		font-size: 12px;
		line-height: 12px;
		margin: 0;
	}

	#buttonUpdateBrowser {
		border: none;
		background: $secondaryColor;
		color: $primaryColor;
		cursor: pointer;
		display: block;
		margin: 30px auto 0;
		padding: 10px 20px;
		position: relative;
		text-decoration: none;
		width: 230px;
		&:hover {
			background-color: lighten($secondaryColor, 10%);
			color: $primaryColor;
		}
	}

	.last {
		height: 20px;
		position: absolute;
		right: 25px;
		top: 10px;
		width: auto;
		display: inline-table;
	}

	.last[dir=rtl] {
		left: 25px !important;
		right: auto !important;
	}

	#buttonCloseUpdateBrowser {
		color: $secondaryColor;
		display: block;
		font-size: 36px;
		height: 100%;
		line-height: 36px;
		position: relative;
		text-decoration: none;
		width: 100%;
	}
}

@media screen and (max-width: 640px) {
	#outdated {
		padding: 50px 10px 20px;
	}
}
